.mainBlock {
    padding: 50px;
    padding-top: 100px;
}

.aboutTextImage {
    left: 50%;
    min-width: 100%;
    overflow-x: hidden;
    z-index: -1;
    margin-top: -150px;
    margin-bottom: -100px;
}

.textBlock {
    background-color: #C7675F;
    width: 50vw;
    padding: 30px;
    margin: 20px;
    border-radius:20px;
    transition: all 1s ease;
    --notchSize: 40px;
  /*cut the edges slightly*/
    clip-path: 
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            1000% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            -1000% calc(100% - var(--notchSize))
        );
}

#lastLine {
    position: relative; 
    left: 25%; 
    margin-top: 50px; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    font-size: 125%;
}