.mainBlock {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1), rgba(var(--c1),var(--c2),var(--c3),1)); /*gradient*/
    /*background-color: #2e3c3a;*/
    padding: 80px;
    padding-bottom: 50px;
    text-align: center;
    
}

.recipe {
    width: 700px;
}

.results {
    display: grid;
    justify-content: center;
    
}

.box { /*image with text beneath*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #C7675F;
    width: 700px;
    padding: 20px;
    margin: 20px;
    cursor:pointer;
    color:#FFF;
    font-size:1.5em;
    text-align: center;
    border-radius: 20px;
    transition: all 1s ease;
    --notchSize: 30px;
  /*cut the edges slightly*/
    clip-path: 
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            1000% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            -1000% calc(100% - var(--notchSize))
        );
}

.imgAndTitle {
    float: left;
    padding-right: 20px;
}

.dishImage { /*image formatting*/
    /*width: 50%;
    height: 50%;*/
    padding: 50px;
    width: 312px;
    height: 231px;
    /*margin-bottom: 40px;*/
}

.box:hover {
    transform: scale(1.05);
    /*box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.4) 0px -10px 20px;*/
    background-color: #BE9F9D;
}

.box:active {
    transform: rotate(2deg);
}

.hdr {
    border: 0;
    width: 96%;               
    background-color: #FFF;
    height: 2px;
}