html { /*hide scroll wheel*/
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    margin: 0 auto;
    font-family: Arial;
    background-color: #556;
    height: 100vh;
    font-family: 'Comfortaa', sans-serif;
}

/*------------------------Main Head----------------------*/
.welcome {
    padding-top: 10%;
    position: relative;
    color: #FFF;
    font-size: 5vh;
    text-shadow: 0 0 20px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome > img {
    box-shadow: 0 0 20px #000;
    border-radius: 50px;
}

/*-------------------------Nav Bar-----------------------*/
.nav {
    position: fixed; /*navigation always at top of screen*/
    top: 0;
    width: 100%;
    background: #B7261B;
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    z-index: 100; /*keep it on top of everything else*/
    height: 8vh;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #F27066;
}

@media only screen and (max-height: 525px) { /*keep nav bar from shrinking too much*/
    .nav {
        height: 42px;
    }
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) { /*resize text in nav bar if screen is too small*/
    .nav-items {
        font-size: 0.7em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
    padding-left: 100px;
}

li {
    padding: 20px;
    transition: all 0.3s ease;
}

li:hover { /*increase text size when hovering*/
    font-size: 120%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/*-------------------------Cover-------------------------*/
.container {
    height: 60vh; /*percent of viewport height*/
    position: relative;
    margin: 0;
}

.wrapper-all { /*aid in parallax, set perspective and hold page scale*/
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    perspective: 2px;
}

.parallax::after { /*where all the magic happens*/
    content: ""; /*blank to mke stuff show up*/
    position: absolute; /*lock at top of page*/
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-2px) scale(2.1); /*place it behind everything else*/
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /*make it the farthest object back*/
    background-image: url("img/spicesAndStuff.jpeg");
    /*align-items: center;*/
}
/*--------------------------Grid-------------------------*/
:root {
    --c1: 50; /*46*/
    --c2: 20; /*60*/
    --c3: 20; /*58*/
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, .7fr)); /*300px or full screen if not enough room*/
    justify-content: center;
    grid-gap: 60px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1),  rgba(var(--c1),var(--c2),var(--c3),1), rgba(var(--c1),var(--c2),var(--c3),1)); /*gradient*/
    /*background-color: #2e3c3a;*/
    padding: 200px;
    padding-bottom: 50px;
    
}

.box { /*image with text beneath*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7675F;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:20px;
    transition: all 1s ease;
    --notchSize: 40px;
  /*cut the edges slightly*/
    clip-path: 
        polygon(
            0% var(--notchSize), 
            var(--notchSize) 0%, 
            calc(100% - var(--notchSize)) 0%, 
            1000% var(--notchSize), 
            100% calc(100% - var(--notchSize)), 
            calc(100% - var(--notchSize)) 100%, 
            var(--notchSize) 100%, 
            -1000% calc(100% - var(--notchSize))
        );
}

.box > img { /*image formatting*/
    /*width: 50%;
    height: 50%;*/
    padding: 50px;
    /*margin-bottom: 40px;*/
}

.box:hover {
    transform: scale(1.15);
    /*box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.4) 0px -10px 20px;*/
    background-color: #BE9F9D;
}

.box:active {
    transform: rotate(2deg);
}

/*-------------------------Footer------------------------*/
footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}